.main {
  background-color: #141414;
  min-height: 1000px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-size: 16px;
}
.movie_row{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.movie_slide__container{
  display: flex;
  width: 100%;
  /* overflow: hidden; */
}

.movie_slide {
  width: 100%;
  height: 160px;
  background-color: white;
  margin-right: 5px;
  padding: 5px;
  display: flex;
}
.movie_slide:hover{
  transform: scaleY(1.85) scaleX(1.4);
}
/* .movie_slide.activate{
transform: scaleY(1.85) scaleX(1.4);

} */
.movie_slide__number{
  width: 50%;
  background-color: red;
}
.movie{
  width: 50%;
  height: 100%;
    background-image: url('https://media.istockphoto.com/id/474217638/photo/pink-hair-manga-style-girl-grimacing.jpg?s=1024x1024&w=is&k=20&c=FTXG4isV-cfeG5saZnzheuRpp6GGj9_hdpgT3oxzpj8=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.style_2 {
  height: 120px;
  background-image: url('https://media.istockphoto.com/id/1363047047/photo/beautiful-yandere-girl-with-purple-hair-and-80s-tracksuit-on-gray-background.jpg?s=1024x1024&w=is&k=20&c=y12776l5uX9HSu1X_5l3s1K7l25yUoevorf32_0o6Sg=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}